.hero {
	position: relative;
	padding-top: 80px;
}

.hero::after {
	content: "";
	position: absolute;
	bottom: 106px;
	z-index: -1;
	width: 100%;
	height: 48px;
	background: url(../img/decor-large-icon.svg) repeat-x;
}

.hero-container {
	display: flex;
	align-items: center;
	gap: 28px;
}

.hero h1 {
	margin-bottom: 40px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 62px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.hero h1 strong {
	color: #3596ed;
	font-weight: 600;
}

.hero-info .text {
	max-width: 440px;
	margin-bottom: 140px;
}

.hero-images {
	position: relative;
	display: flex;
}

.hero-choose {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 161px;
	padding: 22px;
	border: 1px solid #535755;
	background-color: rgb(255 255 255 / 0.9);
	text-align: center;
}

/* ================================================== */

.news-inner {
	display: flex;
	gap: 28px;
}

.news-article {
	display: flex;
	flex-direction: column;
	max-width: 284px;
	background-color: #fff;
	border: 1px solid #d3cbd9;
	overflow: hidden;
}

.news-article img {
	display: block;
}

.news-info {
	padding: 20px 20px 0;
	margin-bottom: 12px;
}

.news-date {
	display: inline-block;
	margin-bottom: 8px;
}

.news-article h3 {
	color: #2c332f;
}

.news-link {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: #3596ed;
}

.news-link::after {
	content: "";
	display: inline-block;
	width: 22px;
	height: 9px;
	background-image: url("../img/arrow-right-icon.svg");
	transition: transform 0.2s;
}

.news-link:hover::after {
	transform: translateX(5px);
}

.news-article footer {
	padding: 0 20px 20px;
	margin-top: auto;
}

/* ================================================== */

.faq {
	position: relative;
}

.faq::before {
	content: "";
	position: absolute;
	top: 215px;
	z-index: -1;
	width: calc(50% - 250px);
	height: 48px;
	background: url(../img/decor-large-icon.svg) repeat-x;
}

.faq-inner {
	display: flex;
	gap: 28px;
}

details {
	margin-bottom: 20px;
	border-block: 1px solid #d3cbd9;
}

details[open] summary::after {
	transform: rotate(180deg);
}

summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	list-style: none;
	padding: 20px;
	cursor: pointer;
}

summary::after {
	content: "";
	display: inline-block;
	width: 17px;
	height: 22px;
	background: url("../img/arrow-down-icon.svg") no-repeat center / cover;
}

summary::-webkit-details-marker {
	display: none;
}

details > p {
	padding: 0 20px 20px;
}
