table {
	font-family: sans-serif;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 20px;
}

td,
th,
caption {
	border: 1px solid #000;
	padding: 2px 4px;
}

caption {
	font-weight: 700;
	border-bottom: none;
}

.weekend {
	color: red;
}