* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.form {
	max-width: 400px;
	font-size: 19px;
	border: 1px solid #000;
	border-radius: 7px;
	padding: 20px;
}

.fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.legend {
	padding-inline: 0;
	font-weight: 700;
	margin-bottom: 10px;
}

.label {
	display: block;
	margin-bottom: 5px;
}

.input {
	display: block;
	max-width: 300px;
	width: 100%;
	padding: 8px 10px;
	border-radius: 7px;
	border: 1px solid #000;
	margin-bottom: 15px;
}

.input::placeholder,
.textarea::placeholder {
	font-size: 15px;
	font-family: sans-serif;
}

.textarea {
	display: block;
	resize: vertical;
	max-height: 200px;
	max-width: 300px;
	width: 100%;
	padding: 8px 10px;
	border-radius: 7px;
	border: 1px solid #000;
	margin-bottom: 15px;
}

.label-checkbox {
	font-size: 16px;
}

.input-checkbox {
	cursor: pointer;
}

.button {
	display: block;
	cursor: pointer;
	font-size: 15px;
	font-weight: 500;
	padding: 6px 15px;
	border-radius: 7px;
	border: none;
}