html {
   font-family: Ubuntu, Arial, sans-serif;
   font-weight: 400;
}

body * {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

.container {
   max-width: 1250px;
   padding: 0 15px;
   margin: 0 auto;
}

.article {
   padding: 80px 0 120px;
}

.article-title {
   max-width: 596px;
   margin-bottom: 40px;
   font-family: "Oswald";
   font-weight: 600;
   line-height: 1.15;
   text-transform: uppercase;
   color: #2c332f;
}

.article-title-large {
   font-size: 48px;
}

.article-title-medium {
   font-size: 36px;
}

.article-text {
   margin-bottom: 20px;
   line-height: 1.3;
   color: #535755;
}

.article-text-width {
   max-width: 744px;
}

.article-mb {
   margin-bottom: 80px;
}

.article-img,
.article-video {
   width: 100%;
}

.article-list {
   padding-left: 14px;
   margin-top: 0;
}

.article-item {
   margin-bottom: 12px;
}

.article-video {
   margin-bottom: 40px;
}