.article {
	padding: 80px 0 120px;
}

.article-title-medium {
	font-size: 36px;
}

.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: #535755;
}

.article-text:last-child {
	margin-bottom: 0;
}

.article-text-width {
	max-width: 744px;
}

.article-mb-1 {
	margin-bottom: 80px;
}

.article-mb-2 {
	margin-bottom: 40px;
}

.article-decor-wrapper {
	position: relative;
}

.article-decor-wrapper::before {
	content: "";
	position: absolute;
	z-index: -1;
	background: url("../img/decor-icon.svg") no-repeat;
	width: 528px;
	height: 48px;
}

.article-decor-wrapper-1::before {
	top: 100px;
	left: -342px;
}

.article-decor-wrapper-2::before {
	bottom: 136px;
	right: -342px;
}

.article-img,
.article-video {
	width: 100%;
}

.article-list {
	padding-left: 21px;
	margin-top: 0;
}

.article-item:not(:last-child) {
	margin-bottom: 8px;
}

.article-item::marker {
	color: #3596ed;
	font-size: 22px;
}

.article-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	padding: 0;
	background-color: #3596ed;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}
