html {
	font-family: Ubuntu, Arial, sans-serif;
	font-weight: 400;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: #535755;
}

.button {
	display: inline-block;
	padding: 19px 32px;
	background-color: #3596ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.3;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	transition: opacity 0.2s;
}

.button:hover {
	opacity: 0.85;
}

.section {
	margin-bottom: 140px;
}

.title-large {
	max-width: 596px;
	margin-bottom: 40px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.15;
	text-transform: uppercase;
	color: #2c332f;
}

.text-sub {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: right;
	color: #858e8a;
}
