.hero {
	background-color: var(--bg-third-color);
	overflow: hidden;
}

.hero__container {
	position: relative;
}

@media (width > 768px) {
	.hero__container {
		/* min-width: 768px, max-width: 1600px */
		padding-top: clamp(9.688rem, -0.986rem + 22.24vw, 21.25rem);
		padding-bottom: 244px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.hero__container {
		padding-top: 155px;
		padding-bottom: 121px;
	}
}

@media (width <= 576px) {
	.hero__container {
		padding-top: 100px;
		padding-bottom: 178px;
	}
}

.hero__content {
	position: relative;
	z-index: var(--layer-1);
}

@media (width > 768px) {
	.hero__content {
		max-width: 556px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.hero__content {
		max-width: 363px;
	}
}

@media (width <= 576px) {
	.hero__content {
		max-width: 290px;
	}
}

@media (width > 768px) {
	.hero__title {
		margin-bottom: 40px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.hero__title {
		margin-bottom: 20px;
	}
}

@media (width <= 576px) {
	.hero__title {
		margin-bottom: 16px;
	}
}

.hero__text {
	font-weight: 400;
	line-height: 1.3;
	color: var(--main-color);
}

@media (width > 768px) {
	.hero__text {
		margin-bottom: 90px;
		font-size: 26px;
	}
}

@media (width <= 768px) {
	.hero__text {
		font-size: 12px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.hero__text {
		max-width: 253px;
		margin-bottom: 40px;
	}
}

@media (width <= 576px) {
	.hero__text {
		max-width: 170px;
		margin-bottom: 30px;
	}
}

.hero__img,
.hero__img img {
	display: block;
}

.hero__img {
	position: absolute;
	right: 0;
	bottom: 0;
}

@media (width > 768px) {
	.hero__img {
		width: 55%;
	}
}

@media (width > 576px) and (width <= 768px) {
	.hero__img {
		width: 52%;
	}
}

@media (width > 576px) {
	.hero__img {
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		transform: translateX(30px);
	}
}

@media (width <= 576px) {
	.hero__img {
		-webkit-transform: translate(30px, 47px);
		-ms-transform: translate(30px, 47px);
		transform: translate(30px, 47px);
	}
}

@media (width > 390px) and (width <= 576px) {
	.hero__img {
		width: 72%;
	}
}

@media (width <= 390px) {
	.hero__img {
		width: 280px;
	}
}
