.offers {
	background-color: var(--bg-second-color);
}

@media (width > 768px) {
	.offers__title {
		margin-bottom: 50px;
	}
}

@media (width <= 768px) {
	.offers__title {
		margin-bottom: 20px;
	}
}

.offers__title-accent {
	color: var(--accent-color);
}

@media (width > 768px) {
	.offers__top {
		margin-bottom: 50px;
	}
}

@media (width <= 768px) {
	.offers__top {
		margin-bottom: 20px;
	}
}

.offers__tags {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (width > 768px) {
	.offers__tags {
		gap: 20px;
	}
}

@media (width <= 768px) {
	.offers__tags {
		gap: 10px;
	}
}

.offers__tags-list-item:last-child {
	margin-left: auto;
}

@media (width <= 1200px) {
	.offers__tags-list-item:first-child {
		display: none;
	}

	.offers__tags-list-item:nth-child(2) {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}

	.offers__tags-list-item:nth-child(3) {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.offers__tags-list-item:nth-child(4) {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.offers__tags-list-item:last-child {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
	}
}

.offers__tags-link {
	display: inline-block;
	padding-block: 6px;
	border: 1px solid var(--main-color);
	border-radius: 31px;
	font-weight: 400;
	color: var(--main-color);
	-webkit-transition:
		color var(--transition-time),
		border-color var(--transition-time);
	-o-transition:
		color var(--transition-time),
		border-color var(--transition-time);
	transition:
		color var(--transition-time),
		border-color var(--transition-time);
}

@media (any-hover: hover) {
	.offers__tags-link:hover {
		color: var(--accent-color);
		border-color: var(--accent-color);
	}
}

.offers__tags-link:active {
	color: var(--accent-color);
	border-color: var(--accent-color);
}

@media (width > 768px) {
	.offers__tags-link {
		padding-inline: 20px;
		font-size: 18px;
	}
}

@media (width <= 768px) {
	.offers__tags-link {
		padding-inline: 12px;
		font-size: 12px;
	}
}

.offers__tags-details {
	display: inline-block;
	padding-bottom: 2px;
	border-bottom: 1px solid var(--accent-color);
	font-weight: 400;
	color: var(--accent-color);
	-webkit-transition: border-color var(--transition-time);
	-o-transition: border-color var(--transition-time);
	transition: border-color var(--transition-time);
}

@media (any-hover: hover) {
	.offers__tags-details:hover {
		border-color: transparent;
	}
}

@media (width > 768px) {
	.offers__tags-details {
		font-size: 18px;
	}
}

@media (width <= 768px) {
	.offers__tags-details {
		font-size: 12px;
	}
}

.offers__sorting-button {
	margin-left: auto;
	margin-bottom: 40px;
}

/* offers__products */
/* ========================================================= */

.offers__slide {
	height: auto !important;
}

.offers__product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	-webkit-box-shadow: var(--main-shadow);
	box-shadow: var(--main-shadow);
}

.offers__product-header {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.offers__product-image-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.offers__product-img {
	display: block;
	--transition-time: 0.4s;
	-webkit-transition: -webkit-transform var(--transition-time);
	transition: -webkit-transform var(--transition-time);
	-o-transition: transform var(--transition-time);
	transition: transform var(--transition-time);
	transition:
		transform var(--transition-time),
		-webkit-transform var(--transition-time);
}

@media (any-hover: hover) {
	.offers__product-image-link:hover .offers__product-img {
		-webkit-transform: scale(1.04);
		-ms-transform: scale(1.04);
		transform: scale(1.04);
	}
}

.offers__product-info {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (width > 992px) {
	.offers__product-info {
		padding: 40px;
	}
}

@media (width > 768px) and (width <= 992px) {
	.offers__product-info {
		padding: 10px;
	}
}

@media (width > 768px) {
	.offers__product-info {
		gap: 25px;
	}
}

@media (width <= 768px) {
	.offers__product-info {
		gap: 10px;
		padding: 10px;
	}
}

.offers__product-name {
	display: block;
	font-weight: 300;
	color: var(--main-color);
	-webkit-transition: color var(--transition-time);
	-o-transition: color var(--transition-time);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.offers__product-name:hover {
		color: var(--accent-color);
	}
}

.offers__product-name:active {
	color: var(--accent-color);
}

@media (width > 992px) {
	.offers__product-name {
		font-size: 24px;
	}
}

@media (width > 768px) and (width <= 992px) {
	.offers__product-name {
		font-size: 17px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.offers__product-name {
		font-size: 12px;
	}
}

@media (width <= 576px) {
	.offers__product-name {
		font-size: 10px;
	}
}

.offers__product-price-wrapper {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1.1fr 8px 0.9fr;
	grid-template-columns: 1.1fr 0.9fr;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 8px;
}

.offers__product-discount,
.offers__product-old-price {
	-ms-grid-column-align: end;
	justify-self: end;
}

.offers__product-availability::before {
	content: "";
	display: inline-block;
	border-radius: 50%;
}

.offers__product-availability--in-stock::before {
	background-color: var(--in-stock-color);
}
.offers__product-availability--out-stock::before {
	background-color: var(--out-stock-color);
}

@media (width > 992px) {
	.offers__product-availability::before {
		width: 13px;
		height: 13px;
		margin-right: 20px;
	}
}

@media (width > 768px) and (width <= 992px) {
	.offers__product-availability::before {
		width: 10px;
		height: 10px;
		margin-right: 12px;
	}
}

@media (width <= 768px) {
	.offers__product-availability::before {
		width: 8px;
		height: 8px;
		margin-right: 12px;
	}
}

.offers__product-availability--in-stock {
	font-weight: 400;
	color: var(--in-stock-color);
}

.offers__product-availability--out-stock {
	display: none;
	font-weight: 400;
	color: var(--out-stock-color);
}

@media (width > 992px) {
	.offers__product-availability {
		font-size: 18px;
	}
}

@media (width > 768px) and (width <= 992px) {
	.offers__product-availability {
		font-size: 14px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.offers__product-availability {
		font-size: 12px;
	}
}

@media (width <= 576px) {
	.offers__product-availability {
		font-size: 10px;
	}
}

.offers__product-discount {
	display: inline-block;
	border-radius: var(--border-radius);
	font-weight: 400;
	color: var(--bg-second-color);
	background-color: var(--accent-color);
}

@media (width > 992px) {
	.offers__product-discount {
		padding: 10px 29px;
		font-size: 24px;
	}
}

@media (width > 768px) and (width <= 992px) {
	.offers__product-discount {
		padding: 4px 15px;
		font-size: 20px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.offers__product-discount {
		padding: 1.8px 9.5px;
		font-size: 16px;
	}
}

@media (width <= 576px) {
	.offers__product-discount {
		padding: 1.4px 10.8px;
		font-size: 15px;
	}
}

.offers__product-current-price {
	font-family: var(--second-family);
	font-weight: 900;
	color: var(--main-color);
	line-height: 1;
}

@media (width > 1440px) {
	.offers__product-current-price {
		font-size: 42px;
	}
}

@media (width > 1200px) and (width <= 1440px) {
	.offers__product-current-price {
		font-size: 35px;
	}
}

@media (width > 992px) and (width <= 1200px) {
	.offers__product-current-price {
		font-size: 42px;
	}
}

@media (width > 768px) and (width <= 992px) {
	.offers__product-current-price {
		font-size: 25px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.offers__product-current-price {
		font-size: 20px;
	}
}

@media (width <= 576px) {
	.offers__product-current-price {
		font-size: 17px;
	}
}

.offers__product-old-price {
	-ms-flex-item-align: end;
	align-self: flex-end;
	font-family: var(--second-family);
	font-weight: 900;
	text-decoration: line-through;
	color: var(--row-line-color);
}

@media (width > 992px) {
	.offers__product-old-price {
		font-size: 24px;
	}
}

@media (width > 768px) and (width <= 992px) {
	.offers__product-old-price {
		font-size: 17px;
	}
}

@media (width <= 768px) {
	.offers__product-old-price {
		font-size: 12px;
	}
}

.offers__product-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media (width > 768px) {
	.offers__product-controls {
		min-height: 64px;
	}
}

@media (width <= 768px) {
	.offers__product-controls {
		min-height: 36px;
	}
}

@media (width > 1200px) {
	.offers__product-counter,
	.offers__product-cart-button {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 220px;
		flex: 1 1 220px;
	}

	.offers__product-counter {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-inline: 35px;
		border: 1px solid var(--main-color);
		border-bottom-left-radius: var(--border-radius);
	}

	.offers__product-counter-minus {
		padding-block: 8px;
	}

	.offers__product-counter-minus img,
	.offers__product-counter-plus img {
		display: block;
	}

	.offers__product-count {
		font-weight: 400;
		font-size: 24px;
		line-height: 0;
		color: var(--main-color);
	}
}

@media (width <= 1200px) {
	.offers__product-counter {
		display: none;
	}
}

.offers__product-cart-button {
	font-weight: 400;
	color: var(--bg-second-color);
	background-color: var(--main-color);
	-webkit-transition: background-color var(--transition-time);
	-o-transition: background-color var(--transition-time);
	transition: background-color var(--transition-time);
}

@media (any-hover: hover) {
	.offers__product-cart-button:hover {
		background-color: var(--accent-color);
	}
}

.offers__product-cart-button:active {
	background-color: var(--accent-color);
}

@media (width <= 1200px) {
	.offers__product-cart-button {
		width: 100%;
	}
}

@media (width > 768px) {
	.offers__product-cart-button {
		padding-inline: 15px;
		font-size: 24px;
	}
}

@media (width <= 768px) {
	.offers__product-cart-button {
		padding-inline: 0;
		font-size: 16px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.offers__product-cart-button {
		font-size: 16px;
	}
}

@media (width <= 576px) {
	.offers__product-cart-button {
		font-size: 15px;
	}
}

/* offers__slider */
/* ========================================================== */

@media (width > 992px) {
	.offers__slider-wrapper {
		margin-bottom: 130px;
	}
}

@media (width > 576px) and (width <= 992px) {
	.offers__slider-wrapper {
		margin-bottom: 40px;
	}
}

@media (width <= 576px) {
	.offers__slider-wrapper {
		margin-bottom: 30px;
	}
}

.offers__slider-controls {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (width > 768px) {
	.offers__slider-controls {
		gap: 30px;
	}
}

@media (width <= 768px) {
	.offers__slider-controls {
		gap: 15px;
	}
}

.offers__slider-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (width > 768px) {
	.offers__slider-buttons {
		gap: 20px;
	}
}

@media (width <= 768px) {
	.offers__slider-buttons {
		gap: 10px;
	}
}

.swiper-button-prev.offers__slider-prev,
.swiper-button-next.offers__slider-next,
.swiper-pagination.offers__slider-pagination {
	--swiper-navigation-sides-offset: auto;
	--swiper-navigation-size: auto;
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	inset: 0;
	left: auto;
	right: auto;
}

.offers__slider-prev,
.offers__slider-next {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid var(--main-color);
	border-radius: var(--border-radius);
	-webkit-transition: border-color var(--transition-time);
	-o-transition: border-color var(--transition-time);
	transition: border-color var(--transition-time);
}

@media (width > 768px) {
	.offers__slider-prev,
	.offers__slider-next {
		padding: 10px;
	}
}

@media (width <= 768px) {
	.offers__slider-prev,
	.offers__slider-next {
		padding: 5.2px;
	}
}

@media (width > 768px) {
	.swiper-button-prev .offers__slider-button-icon,
	.swiper-button-next .offers__slider-button-icon {
		width: 43px;
		height: 43px;
	}
}

@media (width <= 768px) {
	.swiper-button-prev .offers__slider-button-icon,
	.swiper-button-next .offers__slider-button-icon {
		width: 24px;
		height: 24px;
	}
}

.offers__slider-button-icon {
	color: var(--main-color);
	fill: currentColor;
	-webkit-transition: color var(--transition-time);
	-o-transition: color var(--transition-time);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.offers__slider-prev:hover,
	.offers__slider-next:hover {
		border-color: var(--accent-color);
	}

	.offers__slider-prev:hover .offers__slider-button-icon,
	.offers__slider-next:hover .offers__slider-button-icon {
		color: var(--accent-color);
	}
}

.swiper-button-prev.swiper-button-disabled.offers__slider-prev,
.swiper-button-next.swiper-button-disabled.offers__slider-next {
	opacity: 1;
}

.swiper-button-disabled.offers__slider-prev .offers__slider-button-icon,
.swiper-button-disabled.offers__slider-next .offers__slider-button-icon {
	color: var(--row-line-color);
}

.offers__slider-pagination {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--main-color);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (width > 768px) {
	.offers__slider-pagination {
		font-size: 24px;
	}
}

@media (width > 576px) and (width <= 768px) {
	.offers__slider-pagination {
		font-size: 16px;
	}
}

@media (width <= 576px) {
	.offers__slider-pagination {
		font-size: 15px;
	}
}
