.text-1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    font-style: italic;
    text-align: justify;
}

.text-2 {
    text-decoration: line-through;
}

.text-3 {
    text-transform: uppercase;
    text-align: center;
}

.text-4 {
    color: rgb(64, 5, 99);
    text-decoration: wavy overline;
    text-shadow: 1.5px 1.5px 1px rgba(101, 24, 146, 0.342);
    word-spacing: 30px;
}

.text-5 {
    text-decoration: double underline;
    letter-spacing: 5px;
}